<div class="card">
  <h3>Add Film</h3>
  <form action="/films" method="POST">
    <div>
      <input type="text" name="director" placeholder="Director" required>
    </div>
    <div>
      <input type="text" name="title" placeholder="Title" required>
    </div>
    <div>
      <input type="text" name="year" placeholder="Year" required>
    </div>
    <div>
      <input type="text" name="link" placeholder="Link" required>
    </div>
    <div>
      <label for="refactor">refactor</label>
      <input type="checkbox" name="refactor" value="true">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>