<div>
  <h3>Add Film</h3>
  <form action="/films" method="POST">
    <div>
      <label for="director">Director</label>
      <input type="text" name="director" required>
    </div>
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" required>
    </div>
    <div>
      <label for="year">Year</label>
      <input type="text" name="year" required>
    </div>
    <div>
      <label for="link">Link</label>
      <input type="text" name="link" required>
    </div>
    <div>
      <label for="refactor">refactor</label>
      <input type="checkbox" name="refactor">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>